<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% block title %}
            <title>Tamusgen Travel & Tours</title>
        {% endblock %}

        {% block css %}
            <!-- Bootstrap Core CSS -->
            <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{asset('css/landing-page.css')}}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        {% endblock %}

        {% block style %}
            <style>
                .intro-header{
                    background-image: url({{asset('img/'~random(['bokeh_car_lights_bg.jpg','intro-bg.jpg']))}})
                }
            </style>
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        {% block body %}
            <!-- Navigation -->
            {% block topnav %}
                <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
                    <div class="container topnav">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand topnav" href="#">Tamusgen</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class = "active">
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#about">About Us</a>
                                </li>
                                <li>
                                    <a href="#services">Services</a>
                                </li>
                                <li>
                                    <a href="#services">Partners</a>
                                </li>
                                <li>
                                    <a href="#services">Clients</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact Us</a>
                                </li>
                                {% if (1+1)==2 %}
                                    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                                {% else %}
                                    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>
            {% endblock %}


            <!-- Header -->
            <a name="home"></a>
            <div class="intro-header">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-message">

                                <h1>TAMUSGEN TRAVEL & TOURS</h1>

                                <h3><img src = "{{asset('img/iata.png')}}" /></h3>
                                <hr class="intro-divider">
                                <ul class="list-inline intro-social-buttons">
                                    <li>
                                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.intro-header -->
            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-inline">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="#about">About</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="#services">Services</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>

                                    <a href="#services">Partners</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="#services">Clients</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>

                                    <a href="#contact">Contact</a>
                                </li>
                            </ul>
                            <p class="copyright text-muted small">Copyright &copy; FMatics IT Solutions and Outsourcing</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block js %}
            <!-- jQuery -->
            <script src="{{asset('js/jquery.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>

</html>
